.container {
  border-radius: 16px;
  background: #FEC41C;
  display: inline-flex;
  // display: block;
  align-content: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  color: #0a1a33;

  i {
    height: 16px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}